# See https://help.github.com/ignore-files/ for more about ignoring files.

# Frontend ignore files
# expo
frontend/Hyer/.expo/

# dependencies
frontend/Hyer/node_modules
frontend/Hyer/node_modules/.*

# misc
frontend/Hyer/.env.local
frontend/Hyer/.env.development.local
frontend/Hyer/.env.test.local
frontend/Hyer/.env.production.local

frontend/Hyer/npm-debug.log*
frontend/Hyer/yarn-debug.log*
frontend/Hyer/yarn-error.log*
